.App {
  text-align: center;
  color: #898989;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #898989;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 25px;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wp-block-column {
  text-align:left;
}

.full-with-bg {
  background: rgba(54,63,77,0.1) !important;
  width: 100%;
}

.header.row {
  background-color: #222e3c;
  color: #ffffff;
  font-size: 1em;
  margin-bottom: 20px;
}

.slideshow {
  margin-top:-20px;
  background-image: url("../imgs/slideshowBackground.jpg");
  width: 100%;
  height: 500px;
  background-position-y: -400px;
  background-size: cover;
}

.slideshow-description {
  text-align: left;
  color:black;
  padding-top: 50px;
  padding-left: 120px;
}

.pre-title {
  text-transform: uppercase;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

h2.has-text-align-center {
  text-transform: uppercase;
  font-size: 24px;
  color: #292929;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.35;
  margin: 0 0 50px;
}

span.description {
  display:flex;
  font-size: 12px;
}

a.btn {
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(255,255,255,.5);
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 30px;
}

.slideshow-img {
  max-width: 500px;
}

h4.sub-title {
  text-transform: uppercase;
}

strong {
  color:black;
}

#root > div > div.container > div:nth-child(2) > div:nth-child(5) > div:nth-child(1) > ul {
  text-align:left;
}

figure.wp-block-embed-youtube {
  display: flex;
  overflow: auto;
}

.white-stripe {
  width: 100%;
  display: flex;
  padding-top:50px;
}

.white-stripe > div {
  background: rgba(255,255,255,.5);
}

.navigation > a {
  padding: 0;
  margin-right:15px;

  color: #ffffff;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  min-height: 40px;
  text-transform: uppercase;

  border-bottom: 2px solid transparent;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}

.navigation > li {
  display: inline-block;
  margin-right: 5px;
}

.navigation {
  width: auto;
}

.navigation {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  padding-top:10px;
  padding-bottom:10px;

  float: left;
  height: auto;
  width: auto;
  overflow: visible;
  background-color: transparent;
  border: 0px none;
}

.navigation > a:hover {
  border-bottom: 2px solid #ffffff;
}

.footer.row {
  margin-top: 50px;
  color: gray;
}

